<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css" crossorigin="anonymous">

    <title>Comidas</title>
  </head>
  <body>
    
    <!----------------NAVIGATION------------------>
    <nav class="navbar navbar-light bg-info">
        <a href="/api/food" class="navbar-brand text-uppercase text-white">Comidas</a>
    </nav>

    <div class="container-fluid">
        <!---------------APPLICATION--------------->
        <div id="App" class="row pt-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-info text-center text-white">
                        Hoy: <%- new Date().getDate() %> / <%- new Date().getMonth() + 1 %> / <%- new Date().getFullYear() %>
                    </div>
                    <form action="/api/food/add" class="card-body" method="POST">
                        <div class="form-group">
                            <select class="form-control" name="day" id="">
                                <option selected>Elige día de la semana...</option>
                                <option>Lunes</option>
                                <option>Martes</option>
                                <option>Miércoles</option>
                                <option>Jueves</option>
                                <option>Viernes</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="breakfast" placeholder="Desayuno" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" name="dinner" placeholder="Cena" class="form-control">
                        </div>
                        <input type="submit" value="Guardar" class="btn btn-info btn-block">
                    </form>
                </div>
            </div>  
            <div id="product-list" class="col-md-8">
                <table class="table">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">#</th>
                            <th scope="col">Día</th>
                            <th scope="col">Desayuno</th>
                            <th scope="col">Cena</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% food.map(function(ele, i){ %>
                            <tr>
                                <td><%- i + 1 %></td>
                                <td><%- ele.day %></td>
                                <td><%- ele.breakfast %></td>
                                <td><%- ele.dinner %></td>
                                <td><% if(ele.done === false){ %>
                                    <span class="badge badge-pill badge-dark mx-1"><a class="text-white" style="text-decoration: none" href="/api/food/turn/<%- ele._id %>">Hecho</a></span>
                                <% }else{ %>
                                    <span class="badge badge-pill badge-success mx-1"><a class="text-white" style="text-decoration: none" href="/api/food/turn/<%- ele._id %>">Hecho</a></span>
                                <% } %>
                                    <span class="badge badge-pill badge-danger"><a class="text-white" style="text-decoration: none" href="/api/food/delete/<%- ele._id %>">Eliminar</a></span></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/img/desayuno1.jpg" class="d-block w-100" style="height: 34rem;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/desayuno2.jpg" class="d-block w-100" style="height: 34rem;" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/desayuno3.png" class="d-block w-100" style="height: 34rem;" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>